<app-header></app-header>

<div class="container">
    <h3>Lista de Mercancia</h3>

    <button type="button" class="btn btn-primary"(click)="registrarMercancia()">Registrar nueva mercancia</button>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">IdMercancia</th>
            <th scope="col">NombreProducto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">FechaIngreso</th>
            <th scope="col">UsuarioQueRegistra</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of mercancias" (click)="editarMercancia(producto.idMercancia)">
            <th scope="row">{{producto.idMercancia}}</th>
            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.fechaIngreso}}</td>
            <td>{{producto.usuario}}</td>
        </tr>
        
        </tbody>
    </table>
</div>

<app-footer></app-footer>
